* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: white;
  font-size: 3.25rem;
  line-height: 4.563rem;
  font-weight: 700;
}
p {
  font-size: 1rem;
  color: white;
  line-height: 2rem;
}
button {
  border: none;
}

header {
  display: flex;
  flex-direction: row;
  padding: 27px 101px;
  margin-bottom: -104px;
}
.head_img {
  flex: 1;
}
.head_img > img {
  width: 157px;
}
header > :nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: right;
}
#for_padd {
  padding-top: 6px;
}
#btnn1 {
  font-size: 0.875rem;
  font-weight: 600;
  color: #58c396;
  background-color: white;
  padding: 12.8px 34px;
  border-radius: 25px;
}

/* Section 1 */
.section_1 {
  background-image: url("images/Digiaxo-1920-x-1280-1-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  background-color: #121620;
  padding: 14% 5% 12% 5%;
  background-position-y: -150px;
}

.section_img {
  width: 32.5rem;
}

.sect_div1 {
  width: 547px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 34px;
}
.sect_div2 {
  flex: 1;
  text-align: right;
  padding-right: 34px;
}

.btn_main {
  color: white;
  font-size: 0.688rem;
  font-weight: 600;
  padding: 7px 23px;
  background-color: #58c396;
}
.btn_2 {
  padding-top: 30px;
}
.btn1 {
  font-size: 0.875rem;
  font-weight: 600;
  color: #58c396;
  background-color: white;
  padding: 12.8px 34px;
  border-radius: 25px;
  margin-right: 9px;
}
.btn1:hover {
  color: #ffffff;
  background-color: #58c396;
}
.btn2 {
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  background-color: #58c396;
  padding: 12.8px 34px;
  border-radius: 25px;
}
.btn2:hover {
  color: #58c396;
  background-color: #ffffff;
}
.sect_div1 > h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Section 2 */
.section_2 {
  display: flex;
  flex-direction: row;
  background-color: #121620;
  padding: 0.3% 5% 12% 5%;
}
.sect_maindiv {
  padding-left: 34px;
  flex: 1;
}
.sect_02 {
  border-style: dashed;
  border-width: 0px 0px 0px 5px;
  border-color: #58c396;
  padding-left: 40px;
}
.sect_02 > h1 {
  padding-top: 30px;
  line-height: 60px;
}
.img_div {
  padding-top: 50px;
}
#sect_img2 {
  width: 347px;
  border-radius: 5px;
}
.sect2_img {
  position: relative;
  margin-bottom: -288px;
  z-index: 1;
}
.sect2_img2 {
  padding-left: 86px;
}
.sect2_img2 > img {
  opacity: 0.7;
}
.sect_maindiv2 {
  flex: 2;
  padding: 0px 34px 0px 91px;
}
.icons_main {
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.icons_main > h4 {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  color: #ffffff;
}
.all_icons {
  display: flex;
  padding-top: 31px;
}
.icon1 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.icon1 > img {
  width: 40px;
  height: 40px;
}
#icon01 {
  background: #6cd495;
}
#icon02 {
  background: #58c396;
}
#icon03 {
  background: #40ac9a;
}
#icon_color1 {
  color: #6cd495;
}
#icon_color2 {
  color: #58c396;
}
#icon_color3 {
  color: #40ac9a;
  fill: #58c396;
}
.all_divider {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.main_divider > h4 {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 6px;
}
.divider {
  background-color: #6a6a6a;
}
.clr_divider1 {
  background-color: #58c396;
  padding: 3.5px;
  margin-right: 61px;
  border-radius: 0px 1px 1px 0px;
}
.clr_divider2 {
  background-color: #58c396;
  padding: 3.5px;
  margin-right: 30px;
  border-radius: 0px 1px 1px 0px;
}
.clr_divider3 {
  background-color: #58c396;
  padding: 3.5px;
  border-radius: 0px 1px 1px 0px;
}

/*For mobile Version */
@media only screen and (max-width: 600px) and (min-width: 280px) {
  header {
    padding: 23px 18px;
    margin-bottom: -104px;
  }
  #btnn1 {
    padding: 6px 22.5px;
    line-height: 12px;
    font-size: 12px;
  }
  .head_img > img {
    width: 113px;
  }

  #for_padd {
    display: none;
  }

  h1 {
    font-size: 30px;
    line-height: 42px;
  }
  p {
    font-size: 15px;
    line-height: 30px;
  }

  /* Section 1 */

  .section_1 {
    padding: 118px 18px 20px 18px;
    background-position-y: -35px;
    background-position-x: -140px;
    flex-direction: column;
  }
  .section_img {
    width: 100%;
  }
  .sect_div2 {
    flex: 1;
    text-align: center;
    padding: 29px 12px 0px 12px;
  }
  .sect_div1 {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 0px;
  }
  .btn1 {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 25px;
  }
  .btn2 {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 25px;
  }
  .btn_main {
    font-size: 8px;
    padding: 8px 23.5px;
  }
  .sect_div1 > h1 {
    padding-bottom: 20px;
  }
  .btn_2 {
    padding-top: 20px;
  }

  /* Section 2 */
  .section_2 {
    flex-direction: column;
    padding: 10% 0% 12% 0%;
  }
  .img_div {
    display: none;
  }
  .sect_maindiv {
    padding-left: 18px;
  }
  .sect_maindiv2 {
    padding: 20px 18px 0px 18px;
  }
  .sect_02 {
    padding-left: 20px;
  }
  .sect_02 > h1 {
    padding-top: 25px;
    line-height: 30px;
  }
  .all_icons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .icons_main > h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .icons_main {
    padding: 38px 20px;
  }
  .all_divider {
    padding-top: 25px;
    gap: 25px;
  }
  .clr_divider1 {
    width: 90%;
  }
  .clr_divider2 {
    width: 95%;
  }
}
